// Type
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$base-font-size: 62.5% !default;
$body-font-size: 1.6rem !default;
$font-family: 'Roboto', sans-serif;

// Colours
$body-background-colour: #348474;
$body-colour: #242320;

